@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body{
    font-family: 'Outfit', sans-serif;
}

main{
    min-height: 100vh;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: var(--White);
    padding: 1rem;
    border-radius: 12px;
    width: 300px;
}

.card img{
    border-radius: 12px;
    width: 100%;
}

.card-info h3{
    color: var(--Dark-blue);
    text-align: center;
    font-size: 1.3rem;
    margin: 20px 0;
}

.card-info p{
    color: var(--Light-gray);
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-width: 375px) {
    
}